.table-desktop {
  display: block;
  overflow-x: auto!important;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
}

.table-desktop .mat-mdc-table {
  width: max-content!important; /* table grows based on content */
  min-width: 100%!important;    /* always at least 100% wide */
  table-layout: auto!important; /* let columns size naturally */
  border-collapse: collapse;
}

/* Prevent extra spacing from long table */
.mat-table-custom {
  width: 100%;
  border-collapse: collapse;
}

.full-width {
  width: 100%;
}

.mat-cell, .mat-header-cell {
  white-space: nowrap!important;
  padding: 8px 12px!important;
}

::ng-deep .mat-mdc-table .sno-col {
  width: 60px !important;      /* fixed narrow width */
  min-width: 60px !important;
  max-width: 60px !important;
  text-align: center;          /* center align numbers */
  white-space: nowrap !important;
}

/* Actions column fix */
::ng-deep .mat-mdc-table .cdk-column-Actions {
  min-width: 150px !important;  /* adjust depending on how many buttons */
  text-align: center;
  white-space: nowrap !important;
}

/* Let table grow naturally */
.table-desktop .mat-mdc-table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  table-layout: auto;
}

/* Data cells – same wrapping */
.mat-mdc-cell {
  white-space: normal !important;
  word-wrap: break-word;
  padding: 8px 12px;
}

mat-cell.mat-mdc-cell{
    white-space: normal !important;
  word-wrap: break-word;
  padding: 8px 12px;
}
.table-mobile {
  display: none;
}

.table-header {
  background-color: #323a74!important;
  color: white!important;
}

 .mat-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc!important; /* Outer border */
}

.mat-mdc-form-field-flex {
    background-color: white;
}
.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding-right: 0;
    background-color: white!important;
}

@media (max-width: 768px) {
  .table-desktop {
    display: none;
  }
  .table-mobile {
    display: block;
  }

  .row-card {
    margin: 10px 0;
    padding: 10px;
  }

  .row-item {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    border-bottom: 1px solid #eee;
  }

  .row-item strong {
    flex: 1;
    color: #333;
  }

  .row-item.actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    border-bottom: none;
    margin-top: 8px;
  }
}
