<div class="form-wrapper">
  <h2>{{ isEditMode ? 'Edit Employee' : 'Add New Employee' }}</h2>

  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

    <div class="form-grid">

      <!-- Employee Name -->
      <mat-form-field appearance="outline">
        <mat-label>Employee Name</mat-label>
        <input matInput formControlName="employeeName" required />
        <mat-error *ngIf="submitted && employeeForm.get('employeeName')?.invalid">
          Employee Name is required
        </mat-error>
      </mat-form-field>

      <!-- Employee Number (readonly in edit mode) -->
      <mat-form-field appearance="outline" *ngIf="isEditMode">
        <mat-label>Employee Number</mat-label>
        <input matInput formControlName="employeeNumber" readonly class="readonly-input" />

      </mat-form-field>

      <!-- Contact Number -->
      <mat-form-field appearance="outline">
        <mat-label>Contact No</mat-label>
        <input matInput formControlName="contactNumber" maxlength="10" required (keypress)="onlyNumbers($event)"/>
        <mat-error *ngIf="submitted && employeeForm.get('contactNumber')?.invalid">
          Contact number is required
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="outline">
        <mat-label>Email ID</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="submitted && employeeForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="submitted && employeeForm.get('email')?.hasError('email')">
          Invalid email format
        </mat-error>
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline">
        <mat-label>Create Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required />
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="submitted && employeeForm.get('password')?.invalid">
          Password is required
        </mat-error>
      </mat-form-field>

      <!-- Role -->
      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option *ngFor="let role of empRoles" [value]="role.id">
            {{ role.role_name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && employeeForm.get('role')?.invalid">
          Role is required
        </mat-error>
      </mat-form-field>

      <!-- Active Status (only in edit mode) -->
      <mat-checkbox formControlName="status" *ngIf="isEditMode">
        Active Status
      </mat-checkbox>

    </div>

    <!-- Submit Button -->
    <div class="submit-button">
      <button mat-raised-button color="primary" type="submit">
        {{ isEditMode ? 'Update' : 'Submit' }}
      </button>
    </div>
  </form>
</div>
