<div class="enquiry-header">
  <h2>📋 Employee Master</h2>
</div>

<app-dynamic-table *ngIf="employeeColumns.length && employeeData.length"
  [data]="employeeData"
  [columns]="employeeColumns"
  [enablePagination]="true"
  [enableFilter]="true"
  [showAssignTechnician]="false"
  [showEditButton]="true" 
  (edit)="onEditEmployee($event)"
  >
</app-dynamic-table>


<!-- Floating Add Button -->
<button mat-fab color="primary" class="fab-button" (click)="addNewEmployee()" matTooltip="Add New Employee">
  <mat-icon>add</mat-icon>
</button>


