<!-- Top Toolbar -->
<mat-toolbar color="primary" class="custom-toolbar" *ngIf="router.url !== '/login'">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>

<!--   <a [routerLink]="['/home']">
    <img src="logo.png" class="logo-img" alt="Logo" />
  </a> -->
   <a>
    <img src="logo.png" class="logo-img" alt="Logo" />
  </a>

<!--   <button mat-button class="toolbar-logo" [routerLink]="'/home'" routerLinkActive="active-link">
  </button> -->

  <span class="example-spacer"></span>

  <span class="username" *ngIf="username">
    <mat-icon>person</mat-icon> {{ username }}
  </span>

  <button mat-button class="toolbar-logout" (click)="onSubmit()">
    <mat-icon>logout</mat-icon> Logout
  </button>
</mat-toolbar>

<!-- Sidenav Container -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="custom-sidenav" *ngIf="router.url !== '/login'">

    <!-- Admin Menu -->
    <mat-nav-list *ngIf="userRole === 'Admin'">
      <a mat-list-item routerLink="/employee-list" routerLinkActive="active-link">
        <mat-icon matListIcon>group</mat-icon>
        <span class="sidenav-span">Employee Master</span>
      </a>

      <a mat-list-item routerLink="/enquiry-list" routerLinkActive="active-link">
        <mat-icon matListIcon>dashboard</mat-icon>
        <span class="sidenav-span">Enquiry Dashboard</span>
      </a>

      <a mat-list-item routerLink="/amc-list" routerLinkActive="active-link">
        <mat-icon matListIcon>settings</mat-icon>
        <span class="sidenav-span">AMC</span>
      </a>

      <a mat-list-item routerLink="/task-list" routerLinkActive="active-link">
        <mat-icon matListIcon>assignment_turned_in</mat-icon>
        <span class="sidenav-span">Technician View</span>
      </a>
    </mat-nav-list>

    <!-- Technician Menu -->
    <mat-nav-list *ngIf="userRole === 'Technician'">
      <a mat-list-item routerLink="/task-list" routerLinkActive="active-link">
        <mat-icon matListIcon>assignment_turned_in</mat-icon>
        <span class="sidenav-span">Technician View</span>
      </a>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <!-- Logout -->
    <a mat-list-item (click)="logout()">
      <mat-icon matListIcon>logout</mat-icon>
      <span class="sidenav-span">Log Out</span>
    </a>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
