<div class="amc-form-wrapper">
  <h2>Service Update</h2>

  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>event</mat-icon> Enquiry Status & Dates
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="amc-form-grid">
        <mat-form-field appearance="outline">
          <mat-label>Client (Company Name)</mat-label>
          <input matInput formControlName="client_name" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contact Person Name</mat-label>
          <input matInput formControlName="contact_person" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contact No 1</mat-label>
          <input matInput type="tel" formControlName="contact_number" required />
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
          <mat-label>Delivered Date</mat-label>
          <input matInput type="date" formControlName="delivered_date"
           required readonly/>
           </mat-form-field> -->
          <!-- <mat-datepicker-toggle matSuffix [for]="deliveredPicker"></mat-datepicker-toggle>
          <mat-datepicker #deliveredPicker></mat-datepicker> -->
        

        <mat-form-field appearance="outline">
          <mat-label>Service Date</mat-label>
          <input matInput [matDatepicker]="amcPicker" formControlName="service_date" required />
          <mat-datepicker-toggle matSuffix [for]="amcPicker"></mat-datepicker-toggle>
          <mat-datepicker #amcPicker></mat-datepicker>
        </mat-form-field>

          <mat-form-field appearance="outline">
          <mat-label>Service Status</mat-label>
          <mat-select formControlName="service_status" required>
            <mat-option value="">--Select--</mat-option>
            <mat-option value="Pending">Pending</mat-option>
            <mat-option value="Completed">Completed</mat-option>
          </mat-select>
        </mat-form-field>

        </div>
    </mat-expansion-panel>

    <!--  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>chat</mat-icon> Follow Up
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="amc-form-grid">
        <mat-form-field appearance="outline">
          <mat-label>Follow-up Date</mat-label>
          <input matInput [matDatepicker]="fpicker" formControlName="follow_up_dates" required />
          <mat-datepicker-toggle matSuffix [for]="fpicker"></mat-datepicker-toggle>
          <mat-datepicker #fpicker></mat-datepicker>
          <mat-error *ngIf="submitted && serviceForm.get('follow_up_dates')?.invalid">
            Follow-up Date is required
          </mat-error>
        </mat-form-field>

     
        <div class="grid-spacer"></div>

       
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Follow-up Notes / Remarks</mat-label>
          <textarea matInput formControlName="follow_up_notes" rows="4" required></textarea>
          <mat-error *ngIf="submitted && serviceForm.get('follow_up_dates')?.invalid">
            Follow-up Notes is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Follow-up History</mat-label>
          <textarea matInput formControlName="follow_up_his" rows="4" readonly class="readonly-input"></textarea>
        </mat-form-field>
      </div>
    </mat-expansion-panel> -->

         <!-- Submit Button -->
    <div class="submit-row full-width">
      <button mat-raised-button color="primary" type="submit">
        Update
      </button>
    </div>
  </form>
</div>